.btn{
    border-radius: 20px;
    display: flex;
    justify-self: center;
    align-items: center;
    padding: 12px;
    background-color:hsl(0,0%,20%);
    color: hsl(0,0%,32.75%);
    border: none;
    outline: none;
    position: absolute;
    bottom:40px;
    right:20px;
    cursor: pointer;
    transition: 200ms ease;
}

.btn:hover{
    transform: scale(1.1);
}